body {
    font-family: Impact, sans-serif; 
    color: green;
    background-image: url('http://getwallpapers.com/wallpaper/full/b/9/d/782772-full-size-purple-background-wallpaper-1920x1080-for-phones.jpg');

}